{% extends 'base.html.twig' %}

{% block title %}Pointages{% endblock %}

{% block body %}
    <div class="card-header">
        <h3 class="card-title">Ajouter un pointage</h3>
    </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading margin-bottom-10"><i class="ti-check"></i> Success!</h4>
            <p class="margin-bottom-10">
                {{ flashMessage }}
            </p>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-block alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading margin-bottom-10"><i class="ti-check"></i> Error!</h4>
            <p class="margin-bottom-10">
                {{ flashMessage }}
            </p>
        </div>
    {% endfor %}
    <!-- start: STRIPED ROWS -->
    <div class="container-fluid container-fullw">
        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <form role="form" id="formscore" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>
                                    {{ form_label(form.users) }}
                                </label>
                                {{ form_widget(form.users, { 'attr':{'class':'form-control'} }) }}
                                {{ form_errors(form.users) }}
                            </div>

                            <div class="form-group">
                                <label>
                                    {{ form_label(form.sites) }}
                                </label>
                                {{ form_widget(form.sites, { 'attr':{'class':'form-control'} }) }}
                                {{ form_errors(form.sites) }}
                            </div>
                            <div class="form-group">
                                <label>
                                    {{ form_label(form.scoreDate) }}
                                </label>
                                {{ form_widget(form.scoreDate, { 'attr':{'class':'form-control'} }) }}
                                {{ form_errors(form.scoreDate) }}
                            </div>
                            <div class="form-group">
                                <label>
                                    {{ form_label(form.lengthTime) }}
                                </label>
                                {{ form_widget(form.lengthTime, { 'attr':{'class':'form-control'} }) }}
                                {{ form_errors(form.lengthTime) }}
                            </div>

                            {{ form_rest(form) }}
                            <button id="submitscore" type="submit" class="btn btn-block btn-primary add-row">
                                AJOUTER <i class="fa fa-plus"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- end: STRIPED ROWS -->
{% endblock %}
{% block javascripts %}
    <!-- SweetAlert2 -->
    <script src="{{ asset('theme/plugins/sweetalert2/sweetalert2.min.js') }}"></script>
    <!-- Toastr -->
    <script src="{{ asset('theme/plugins/toastr/toastr.min.js') }}"></script>
    <script>
        $(function () {
            $("#scores_form_scoreDate,#scores_form_lengthTime").off().bind("keyup", function () {
                var users = $("#scores_form_users").val();
                var sites = $("#scores_form_sites").val();
                var scoreDate = $("#scores_form_scoreDate").val();
                var lengthTime = $("#scores_form_lengthTime").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('check_score') }}",
                    data: {
                        users : users,
                        sites : sites,
                        scoreDate : scoreDate,
                        lengthTime: lengthTime
                    },

                    success: function (response) {
                        if (response.status == 500) {
                            toastr.warning(response.message)
                            $("#submitscore").prop("disabled", true);
                        }
                        else {
                            $("#submitscore").prop("disabled", false);
                        }
                    }
                });

            })
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{{ asset('theme/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
    <!-- Toastr -->
    <link rel="stylesheet" href="{{ asset('theme/plugins/toastr/toastr.min.css') }}">
{% endblock %}
