{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des Utilisateurs</h3>

                    <div class="card-tools">
                        <div class="input-group-append">
                            <a href="{{ path('new_user') }}" class="btn btn-success btn-block"><i
                                        class="fa fa-plus-circle"></i> Ajouter </a>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Matricule</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in users %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.lastname }}</td>
                                <td>{{ entity.firstname }}</td>
                                <td>{{ entity.registrationNumber }}</td>
                                <td>
                                    <a href="{{ path('edit_user',{'id':entity.id }) }}"
                                       class="btn btn-primary btn-block"><i
                                                class="fa fa-edit"></i> Modifier </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
